.price-quantity {
  padding-bottom: 10px;
}

.price {
  font-weight: 600;

  .currency {
    display: inline-block;
    padding-left: 2px;
    font-size: 80%;
    text-transform: uppercase;
  }
}

.quantity {
  @extend .serif;
}