.hero {
  &_products {
    height: auto;
    padding: 50px 0;
    text-align: center;
    // background-color: $color-main;
    
    h3 {
      color: $color-main-dark;
    }
  }
}

.products {
  padding: 22px 0 50px 0;
}